*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 0px;
    font-family: cursive;
}

header{
	background-color:#109c10;
    text-align:center;
    color:#fff;
    font-size: 1.2rem;
    padding: 10px 0px;
}

section {
    background-color: #b2fca8;
    padding:10px;
}

article, fieldset{
    width:60%;
    display: inline-block;
    vertical-align: middle;
}

fieldset{
    width:40%;
}


fieldset{
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid #109c10;
}

legend{
    font-weight: bold;
}

fieldset input{
    display: block;
    margin:0 auto;
    height:30px;
    font-size: 1.2rem;
}

button{
    width:30%;
    padding:5px;
    margin-top:10px;
    background-color:#A52A2A;
    color:#fff;
    cursor:pointer;
    border:none;
    font-size:14px;
    font-family:Arial;
    font-weight:normal;
}

article{
    margin: 20px auto;
    padding:10px;
    font-size: 20px;
}

article input{
    margin:0 auto;
    height:30px;
    width: 100px;
    font-size: 20px;
}

article button{
    width: 30px;
    height: 30px;
}

table{
    margin:0 auto;
    width:800px;
	padding: 20px;
	text-align:center;
}

th{
	background-color: #CDCDCD;
    padding: 3px 0px 3px;
    font-size: 1.5rem;
    text-align: left;
}	

td{
	border-bottom: 2px solid #8080C0;
    padding: 5px;
    width: 200px;
}

.dosColumnas{
    width: 400px;
}

#titulos{
    text-align: right;
}

#totales{
    text-align: left;
}

.fondo{
    background-color: #db9a9a;
}

.texto{
    color:#fff;
    font-size: 1.5rem;
}
